<html>
<head>
	<title>Add ride</title>
	<link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/styles/main.css">

</head>
<body>
	<div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="/">Home</a></li>
          <li><a href="/browse">Find a ride</a></li>
          <li><a href="/add">Add Ride</a></li>
        </ul>
        <ul class="pull-right">
          <!--<li><a href="#">About</a></li>-->
          <li><a href="https://docs.google.com/forms/d/1R2dEPFrnc2kUxOM-6In-M4LRmd1VoOMZ-9xADz2uIDc/viewform" target="_blank">Feedback</a></li>
        </ul>
      </div>
    </div>

    <div class="add_ride_container">
      <form method="post">
        <fieldset class="add_ride">
          <legend>Add ride</legend>
          <h3 class="error_message">{{error}}</h3>
          <label class="field"><span class="red_asterisk">*</span>Date</label>
          <p class="add_ride_input">
          	<select name="month" class="month_select">
              <option value="6" selected>6</option>
          		<!--<option value= selected disabled>Month</option>
          		<option value="1">1</option>
          		<option value="2">2</option>
          		<option value="3">3</option>
          		<option value="4">4</option>
          		<option value="5">5</option>
          		<option value="6">6</option>
          		<option value="7">7</option>
          		<option value="8">8</option>
          		<option value="9">9</option>
          		<option value="10">10</option>
          		<option value="11">11</option>
          		<option value="12">12</option>-->
          	</select>
          	<span class="date_slash">/</span>
          	<select name="day" class="day_select">
          		<option value selected disabled>Day</option>
          		<option value="1">1</option>
          		<option value="2">2</option>
          		<option value="3">3</option>
          		<option value="4">4</option>
          		<option value="5">5</option>
          		<option value="6">6</option>
          		<option value="7">7</option>
          		<option value="8">8</option>
          		<option value="9">9</option>
          		<option value="10">10</option>
          		<option value="11">11</option>
          		<option value="12">12</option>
          		<option value="13">13</option>
          		<option value="14">14</option>
          		<option value="15">15</option>
          		<option value="16">16</option>
          		<option value="17">17</option>
          		<option value="18">18</option>
          		<option value="19">19</option>
          		<option value="20">20</option>
          		<option value="21">21</option>
          		<option value="22">22</option>
          		<option value="23">23</option>
          		<option value="24">24</option>
          		<option value="25">25</option>
          		<option value="26">26</option>
          		<option value="27">27</option>
          		<option value="28">28</option>
          		<option value="29">29</option>
          		<option value="30">30</option>
          		<option value="31">31</option>
          	</select>
          	<span class="date_slash">/</span>
          	<select name="year" class="year_select">
              <option value="2014" selected>2014</option>
          		<!--<option value selected disabled>Year</option>
          		<option value="2014">2014</option>
          		<option value="2015">2015</option>-->
          	</select>
          </p>

          <label class="field"><span class="red_asterisk">*</span>Time</label>
          <p class="add_ride_input">
          	<select name="hour" class="hour_select">
          		<option value selected disabled>Hour</option>
          		<option value="1">1</option>
          		<option value="2">2</option>
          		<option value="3">3</option>
          		<option value="4">4</option>
          		<option value="5">5</option>
          		<option value="6">6</option>
          		<option value="7">7</option>
          		<option value="8">8</option>
          		<option value="9">9</option>
          		<option value="10">10</option>
          		<option value="11">11</option>
          		<option value="12">12</option>
          	</select>
          	<span class="time_colon">:</span>
          	<select name="minute" class="minute_select">
          		<option value selected disabled>Minute</option>
          		<option value="0">00</option>
          		<option value="15">15</option>
          		<option value="30">30</option>
          		<option value="45">45</option>
          	</select>
          	<select name="am_pm" class="am_pm_select">
          		<option value="0" selected>AM</option>
          		<option value="1">PM</option>
          	</select>
          </p>

          <label class="field"><span class="red_asterisk">*</span>Pick-up location</label>
          <p class="add_ride_input">
          	<input name="location" type="text" value={{location}}>
          </p>

          <label class="field"><span class="red_asterisk">*</span>Destination</label>
          <p class="add_ride_input">
            <select name="destination" class="destination_select">
              <option value selected disabled>Destination</option>
              <option value="ohare">O'Hare Airport</option>
              <option value="midway">Midway Airport</option>
            </select>
          	<!--<input name="destination" type="text" value={{destination}}>-->
          </p>
          
          <label class="field"><span class="red_asterisk">*</span>Name</label>
          <p class="add_ride_input">
          	<input name="name" type="text" value={{name}}>
          </p>

          <label class="field">Phone number (optional, but strongly encouraged)</label>
          <p class="add_ride_input">
          	<input name="phone" type="text" value={{phone}}>
          </p>

          <label class="field"><span class="red_asterisk">*</span>E-mail</label>
          <p class="add_ride_input">
          	<input name="email" type="text" value={{email}}>
          </p>

          <label><span class="red_asterisk">*</span>Excess luggage? (more than one carry-on suitcase and one carry-on bag)</label>
          <p>
            <input type="radio" name="luggage" value="Yes"> Yes
          </p>
          <p>
            <input type="radio" name="luggage" value="No"> No
          </p>

          <label class="code"><span class="red_asterisk">*</span>Delete code (remember this code in case you want to remove yourself from the ride later)</label>
          <p class="add_ride_input">
            <input type="text" name="code">
          </p>

          <label class="comments">Additional comments (optional)</label>
          <p class="add_ride_input">
            <input type="text" name="comments">
          </p>
          <button name="add_ride_button" value="1">ADD RIDE</button>
        </fieldset>
      </form>
    </div>

</body>
</html>