<!DOCTYPE html>
<html>

  <head>
    <title>ridesplitter</title>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="/">Home</a></li>
          <li><a href="/browse">Find a ride</a></li>
          <li><a href="/add">Add Ride</a></li>
        </ul>
        <ul class="pull-right">
          <!--<li><a href="#">About</a></li>-->
          <li><a href="https://docs.google.com/forms/d/1R2dEPFrnc2kUxOM-6In-M4LRmd1VoOMZ-9xADz2uIDc/viewform" target="_blank">Feedback</a></li>
        </ul>
      </div>
    </div>

    <div class="rides_container">
      <br>
      <form method="post">
        <label class="field">Enter beta code to continue</label>
        <p class="add_ride_input">
          <input name="beta_code">
        </p>
        <button name="beta_code_button" value="1">Submit</button>
      </form>
    </div>